*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
h1, h2, h3{
    font-weight: 800;
}
a{
    font-weight: 400;
    text-decoration: none;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 18px;
}
p{
    font-weight: 400;
    font-size: 15px;
}
.header{
    padding-top: 40px;
    padding-bottom: 40px;
}
.navbar-all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hamburger-menu{
    display: none;
}
.navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.navbar-list a{
    text-decoration: none;
    color: hsl(236, 13%, 42%);

}

.contents{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 30px 20px;
}
.content-1{
    grid-area: 1 / 1 / span 1/ span 2;
}
.content-1 img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.content-2{
    grid-area: 1/ 3/ span 2/ span 1;
    background-color: hsl(240, 100%, 5%) ;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    border: 2px solid hsl(233, 8%, 79%);
}
.content-2>div{
    border-bottom: 2px solid hsl(233, 8%, 79%);
    padding-bottom: 20px;
}
.content-2 .bar-3{
    border-bottom: 0px;
}

.content-2 h2{
    color: hsl(35, 77%, 62%);
    padding-bottom: 20px;
}
.side-bar p{
    color: hsl(236, 13%, 42%);
}
.side-bar h3{
    color: hsl(233, 8%, 79%);
    padding-bottom: 10px;
}

.content-2 h1{
    color: hsl(240, 100%, 5%) ;
}

.content-4 p{
    padding-bottom: 20px;
}
.content-4 button{
  background-color: hsl(5, 85%, 63%); 
  border: none;
  color: white;
  padding: 12px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.list-image img{
    width: 80%;
    height: auto;
    object-fit: contain;
}

.content-5, .content-6, .content-7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.list-text h3{
    font-size: 22px;
    color: hsl(236, 13%, 42%);
    padding-bottom: 10px;
}
.list-text h4{
    color: hsl(240, 100%, 5%);
    font-weight: 800;
    padding-bottom: 10px;
}

.list-text p{
    padding-bottom: 20px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width:756px) {
    .navbar-all {
        display: block;
        text-align: center;
    }
    .logo-image{
        padding-bottom: 10px;
    }
    .header .logo-image{
        margin: auto;
    }
    .list-image img {
        width: 171px;
    }
    .content-5, .content-6, .content-7{
        flex-direction: column;
        justify-content: normal;
    }
    .content-2{
        grid-area: 1/ 3/ span 3/ span 1;
    }
    .content-3{
        grid-area: 2 / 1 / span 1 / span 2;
        padding: 0px;
    }
    .content-4 p{
        font-size: 24px;
    }
    .content-4{
        grid-area: 3 / 1 / span 1 / span 2;
    }
    .side-bar h3{
        padding-top: 10px;
        font-size: 16px;
    }
    .content-2 h2{
        font-size: 24px;
    }
}
@media screen and (max-width:576px) {
    .container{
        width: 90%;
        margin: auto;
    }
    .navbar-list {
        display: none;
    }
    .navbar-all{
        text-align: left;
    }
    .content-1 img {
        width: auto;
        max-width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .contents{
        grid-template-columns: 1fr;
    }
    .content-4{
        grid-area: 3 / 1 / span 1 / span 1;
    }
    .content-1{
        grid-area: 1 / 1 / span 1 / span 1;
    }
    .content-3{
        grid-area: 2 / 1 / span 1 / span 1;
    }
    .content-2{
        grid-area: 4/ 1/ span 3/ span 1;
    }
    .content-2>div{
        padding-top: 20px;
    }
    .content-5, .content-6, .content-7 {
        flex-direction: row;
    }
    .content-7{
        padding-bottom: 40px;
    }
    .content-4 p {
        font-size: 16px;
        padding-bottom: 30px;
    }
    .list-image img{
        float: left;
        width: 100px;
        height: auto;
        object-fit: cover;
    }
    .navbar-all{
        display: flex;
        justify-content: space-between;
    }
    .hamburger-menu{
        display: block;
    }
    .hamburger-menu .open{
        display: block;
    }
    .navbar-list{
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        height: 100%;
        background-color: hsl(36, 100%, 99%);
        position: absolute;
        top: 0px;
        right: 0px;
        align-items: flex-start;
        box-shadow: 0px 5px 10px 0px #aaa;
    }
    .navbar-list>div{
        padding-left: 30px;
        padding-top: 20px;
    }
    .hamburger-menu .close{
        position: absolute;
        top: 50px;
        right: 22px;
        display: none;
    }
    .header .logo-image{
        margin: 0;
    }
}
